.pageContainer {
    font-family: var(--font-family-base), sans-serif;
    font-size: var(--font-size-m);
    line-height: var(--line-height-base);
    color: var(--color-primary);
    background-color: #f9f9f9;
}

.section {
    max-width: 1700px;
    margin-inline: auto;
    padding-inline: 10px;
    padding-block-end: 50px;
}

.filtersGalleryWrap {
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 768px){
    .section {
        padding: 20px 10px;
    }

    .filtersGalleryWrap {
        flex-direction: column;
    }
}