.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 5px;
}

.icon {
    width: 32px;
    height: 32px;
    color: #4a90e2;
}

.title {
    font-size: 20px;
    font-weight: var(--font-weight-bold);
    text-align: center;
}

.description {
    text-align: center;
    font-size: 14px;
    color: #666;
}

@media screen and (max-width: 768px) {
    .title {
        font-size: 17px;
    }
}