.pageContainer {
    font-family: var(--font-family-base), sans-serif;
    font-size: var(--font-size-m);
    line-height: var(--line-height-base);
    color: var(--color-primary);
    background-color: #f9f9f9;
}

.section {
    max-width: 1280px;
    margin-inline: auto;
    padding: 100px 10px;
}

.buttonsWrap {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.contactsSection {
    display: flex;
    gap: 30px;
}

.companyContactsList {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    justify-content: center;
    gap: var(--grid-gap);
    inline-size: 100%;
}

.companyContactsItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: var(--grid-gap);
    padding: 50px 30px;
    border: 1px solid #e9e8f3;
    border-radius: var(--border-radius-md);
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.05);
}

.companyContactsSection {
    inline-size: 50%;
}

.contactsFormSection {
    inline-size: 50%;
    background: #fff;
    border-radius: 8px;
    padding: 25px 30px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
}

.formSectionTitle {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .contactsSection {
        flex-direction: column;
        align-items: center;
    }

    .companyContactsSection {
        inline-size: 100%;
    }

    .companyContactsList {
        grid-template-columns: repeat(auto-fit, 300px);
    }

    .section {
        padding: 50px 10px;
    }
}

@media screen and (max-width: 600px) {
    .contactsFormSection {
        inline-size: 100%;
    }
}

@media screen and (max-width: 500px) {
    .buttonsWrap {
        flex-direction: column;
    }
}