.button {
    display: inline-block;
    min-inline-size: 250px;
    padding: 18px 35px;
    border-radius: 3px;
    font-size: var(--font-size-m);
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    transition: background-color 0.3s ease, color 0.3s ease, translate 0.3s ease;
}

.button:hover,
.button:focus-visible {
    translate: 0 -5px;
    cursor: pointer;
}

.buttonPrimary {
    background-color: var(--color-accent);
    border: 2px solid var(--color-accent);
}

.buttonPrimary:hover,
.buttonPrimary:focus-visible {
    background-color: var(--color-button-primary-hover);
    border-color: var(--color-button-primary-hover);
}

.buttonSecondary {
    background-color: transparent;
    border: 2px solid #fff;
    transition: background-color 0.5s ease, color 0.5s ease, translate 0.3s ease;
}

.buttonSecondary:hover,
.buttonSecondary:focus-visible {
    color: #000;
    background-color: var(--color-button-secondary-hover);
}

@media screen and (max-width: 768px) {
    .button {
        display: inline-block;
        min-inline-size: 250px;
        padding: 10px 15px;
    }
}
