.header {
    background-color: #fff;
}

.top {
    background-color: var(--color-bg-secondary);
    color: var(--color-secondary);
    padding: .5rem 1rem;
}

.contactsList {
    display: flex;
    justify-content: flex-end;
    max-inline-size: 1280px;
    margin: 0 auto;
    gap: 1.5rem;
    list-style: none;
}

.contactsListItem {
    display: flex;
    align-items: center;
}

.main {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    max-inline-size: 1280px;
    margin: 0 auto;
}

.navigation {
    max-inline-size: 1280px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.burger {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-inline-start: auto;
}
@media screen and (max-width: 400px){
    .top  {
        font-size: 14px;
    }
}
