.cta {
    color: var(--color-secondary);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.ctaPrimary {
    padding: 200px 20px 130px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('/src/assets/images/living-room.jpg');
}

.ctaSecondary {
    padding: 70px 20px;
    background-color: var(--color-bg-secondary);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
    max-inline-size: 800px;
    margin: 0 auto;
}

.title {
    font-size: 52px;
    line-height: 1.2;
    font-weight: var(--font-weight-bold);
    text-align: center;
}

.ctaSecondary .title {
    font-size: var(--font-size-section-title);
}

.description {
    text-align: center;
}

.buttonsContainer {
    display: flex;
    column-gap: 10px;
}

.button {
    display: inline-block;
    min-inline-size: 250px;
    padding: 18px 35px;
    border-radius: 3px ;
    font-size: var(--font-size-m);
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    transition: background-color 0.3s ease, color 0.3s ease, translate 0.3s ease;
}

.button:hover,
.button:focus-visible {
    translate: 0 -5px;
    cursor: pointer;
}

.buttonPrimary {
    background-color: var(--color-accent);
    border: 2px solid var(--color-accent);
}

.buttonPrimary:hover,
.buttonPrimary:focus-visible {
    background-color: var(--color-button-primary-hover);
    border-color: var(--color-button-primary-hover);
}

.buttonSecondary {
    background-color: transparent;
    border: 2px solid #fff;
    transition: background-color 0.5s ease, color 0.5s ease, translate 0.3s ease;
}

.buttonSecondary:hover,
.buttonSecondary:focus-visible {
    color: #000;
    background-color: var(--color-button-secondary-hover);
}