.cta {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.ctaPrimary {
    padding: 200px 20px 130px;
    color: var(--color-secondary);
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('/src/assets/images/living-room.jpg');
}

.ctaSecondary {
    background-color: #000;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
    max-inline-size: 800px;
    margin: 0 auto;
}

.title {
    font-size: 52px;
    line-height: 1.2;
    font-weight: var(--font-weight-bold);
    text-align: center;
}

.description {
    text-align: center;
}

.buttonsContainer {
    display: flex;
    column-gap: 10px;
}

.button {
    background-color: grey;
    border: 2px solid black;
}

.button:hover {
    cursor: pointer;
}