.cta {
    color: var(--color-secondary);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.ctaPrimary {
    padding: 200px 20px 130px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('/src/assets/images/living-room.jpg');
}

.ctaSecondary {
    padding: 70px 20px;
    background-color: var(--color-bg-secondary);
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
    max-inline-size: 800px;
    margin: 0 auto;
}

.title {
    font-size: 52px;
    line-height: 1.2;
    font-weight: var(--font-weight-bold);
    text-align: center;
}

.ctaSecondary .title {
    font-size: var(--font-size-section-title);
}

.description {
    text-align: center;
}

@media screen and (max-width: 768px) {
    .ctaPrimary {
        padding: 50px 20px 50px;
    }
    .title {
        font-size: 30px;
    }
}

