.cta {
    color: var(--color-secondary);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.ctaPrimary {
    position: relative;
    padding: 200px 20px 130px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../../assets/images/lv-2000x1200.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.ctaPrimary::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100px;
    background-image: linear-gradient(to top, #f9f9f9, transparent 100%);
}

.ctaSecondary {
    padding: 70px 20px;
    background-color: var(--color-bg-secondary);
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
    max-inline-size: 800px;
    margin: 0 auto;
}

.title {
    font-size: 52px;
    line-height: 1.2;
    font-weight: var(--font-weight-bold);
    text-align: center;
}

.ctaSecondary .title {
    font-size: var(--font-size-section-title);
}

.description {
    text-align: center;
}

@media screen and (max-width: 768px) {
    .ctaPrimary {
        padding: 100px 20px 130px;
    }

    .ctaSecondary {
        padding: 30px 20px;
        background-color: var(--color-bg-secondary);
    }

    .title {
        font-size: 30px;
    }

    .ctaSecondary .title {
        font-size: 30px;;
    }
}

@media (max-width: 768px) {
    .ctaPrimary {
        background-image: linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, .6)),
        url("../../assets/images/lv-1000x600.jpg");
    }
}