.card {
    inline-size: 320px;
    padding: 16px;
    border-radius: 20px;
    overflow: hidden;
    background-color: #F9F9F9;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    transition: transform .3s, box-shadow .3s;
}

.card:hover,
.card:focus-visible {
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.12);
    transform: translateY(-2px);
}

.cardImage {
    inline-size: 300px;
    block-size: 300px;
    transition: scale .2s;
}

.cardImage:hover,
.cardImage:focus-visible {
    scale: 1.01;
}

.cardInfo {
    padding: 15px 10px;
}

.cardTitle {
    font-size: 22px;
    color: #222222;
}

.cardPrice {
    color: #212121;
}

.cardDescription {
    font-size: 14px;
    color: #424242;
}

.cardButton {
    display: block;
    width: 100%;
    margin-top: 15px;
    padding: 12px 0;
    border: none;
    border-radius: 8px;
    background-color: var(--color-accent);
    color: #FFFFFF; /* Белый текст */
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

.cardButton:hover,
.cardButton:focus-visible {
    background-color: var(--color-button-primary-hover);
    transform: translateY(-1px);
}

.cardButton:active {
    transform: scale(0.98);
}