.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1280px;
    margin-inline: auto;
}

.categoryTitle {
    font-size: var(--font-size-section-title);
    font-weight: var(--font-weight-bold);
    text-align: center;
}

.categoryList {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}