.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 50px;
    max-width: 1280px;
    padding-block: 100px;
    margin-inline: auto;
}

.categoryTitle {
    font-size: var(--font-size-section-title);
    font-weight: var(--font-weight-bold);
    text-align: center;
}

.categoryList {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
    gap: 40px;
    width: 100%;
    padding-inline: 10px;
}