.navList {
    display: flex;
}

.headerNav {
    display: flex;
    gap: var(--grid-gap);
}

.footerNav {

}

.burgerNav {
    flex-direction: column;
    row-gap: 60px;
    margin-block-start: 50%;
}

.navLink {
    position: relative;
    font-size: 16px;
    line-height: 1;
    transition: var(--transition-color);
}

.burgerNav .navLink {
    font-size: 30px;
    letter-spacing: 1px;
}

.headerNavLink {
    font-weight: var(--font-weight-medium);
    letter-spacing: .5px;
    text-transform: uppercase;
}

.navLink:hover,
.navLink:focus-visible {
    color: var(--color-accent);
}

.navLink::before {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--color-accent);
    scale: 0 1;
    transform-origin: right;
    transition: scale .3s ease,
    transform-origin 0s .3s;
}

.navLink:hover::before,
.navLink:focus-visible::before {
    scale: 1 1;
    transform-origin: left;
    transition: scale 0.3s ease,
    transform-origin 0s;
}

.navLinkCurrent {
    color: var(--color-accent);
    pointer-events: none;
}

.navLinkCurrent::before {
    scale: 1 1;
    transform-origin: left;
}
