.contactLink {
    font-size: var(--font-size-s);
    font-weight: var(--font-weight-medium);
    transition: var(--transition-color);
}

.contactLink:hover,
.contactLink:focus-visible {
    color: var(--color-accent);
}

.icon{
    margin-inline-end: 5px;
}