.contactLink {
    display: flex;
    align-items: center;
    font-weight: var(--font-weight-medium);
    transition: var(--transition-color);
}

.contactLink:hover,
.contactLink:focus-visible {
    color: var(--color-accent);
}

.icon {
    display: inline-flex;
    margin-inline-end: 5px;
}